# === Domaines (DNS A record vers IP publique + entrees dans Reverse Proxy DSM) ===
NEXTCLOUD_DOMAIN=cloud.arkerion.fr
COLLABORA_DOMAIN=office.arkerion.fr

# === MariaDB ===
MYSQL_ROOT_PASSWORD=CHANGEME_root_strong_pw
MYSQL_PASSWORD=CHANGEME_nextcloud_db_pw

# === Redis ===
REDIS_PASSWORD=CHANGEME_redis_pw

# === Nextcloud admin (cree au premier boot) ===
NEXTCLOUD_ADMIN_USER=rudy
NEXTCLOUD_ADMIN_PASSWORD=CHANGEME_admin_pw

# === Collabora admin (UI de monitoring sur /browser/dist/admin/admin.html) ===
COLLABORA_ADMIN_USER=admin
COLLABORA_ADMIN_PASSWORD=CHANGEME_collabora_pw
